.info {
  position: relative;
  overflow: hidden;
  padding-bottom: 300px;
  padding-top: 60px;
  &-line {
    position: absolute;
    width: 100%;
    height: 1px;
    background-image: radial-gradient(51.47% 99.69% at 41.79% 11.16%, #85FFC9 0%, #0091FF 42.04%, #2F50FD 100%);
    bottom: 0;
    z-index: 1;
    left: 0;
  }
  &-image {
    position: absolute;
    width: 906px;
    left: 50%;
    transform: translateX(-51%);
    bottom: -150px;
    z-index: -1;
  }
  a {
    color: #69FFE5;
    text-decoration: none;
  }
  &:before {
    content: '';
    position: absolute;
    right: 0;
    top: -500px;
    width: 180.05px;
    height: 1355.88px;
    background: linear-gradient(127.7deg, rgba(108, 255, 243, 0.73) 20.4%, rgba(35, 69, 193, 0.73) 60.49%);
    filter: blur(124px);
    transform: matrix(0.57, 0.82, -0.87, 0.49, 0, 0);
  }
  &-wrapper {
    max-width: 860px;
    padding: 72px 25px;
    margin-left: auto;
    margin-right: auto;
  }
  &-block {
    margin-bottom: 48px;
  }
  &-title {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 12px;
  }
  &-subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 12px;
  }
  &-text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #D9E9ED;
    margin-bottom: 24px;
  }
  &-list {
    &__item {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #D9E9ED;
      margin-bottom: 24px;
      padding-left: 12px;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 10px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #fff;
      }
      .info-list__sublist {
        &-item {
          padding-left: 20px;
          position: relative;
          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 12px;
            width: 10px;
            height: 1px;
            background: #fff;
          }
        }
      }
    }
  }
  &-accordion {
    &__button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      position: relative;
      padding-right: 50px;
      img {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &__item {
      &:first-child {
        border-top: 2px solid #758D9E;
      }
      &:last-child {
        border-bottom: 2px solid #758D9E;
      }
      padding-top: 12px;
      border-bottom: 1px solid #758D9E;
      border-top: 1px solid #758D9E;
      .info-subtitle {
        border: none;
        width: 100%;
        text-align: left;
        background: none;
      }
    }
    &__collapse {
      transition: height .5s cubic-bezier(0.33, 1, 0.68, 1);
    }
  }
}

@media screen and (max-width: 1024px){
  .info {
    padding-bottom: 150px;
  }
}

@media screen and (max-width: 1700px) {
  .info {
    padding-bottom: 100px;
    &-subtitle {
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 768px) {
  .info {
    padding-bottom: 100px;
    &-title {
      font-size: 32px;
    }
    &-subtitle {
      font-size: 20px;
    }
    &-text {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 500px){
  .info {
    padding-bottom: 70px;
  }
}

